p {
  color: #207f4c;
  font-size: 10px;
}
h1 {
  font-family: Arial;
  color: #207f4c;
  font-size: 5px;
}
h2 {
  font-family: Arial;
  color: #207f4c;
  font-size: 5px;
}
body {
  font-family: Arial;
  color: #207f4c;
}
html {
  font-family: 20px;
}
body {
  font-family: Arial;
  color: #207f4c;}