@font-face {
    font-family: "MinecraftTenv";
    src: url("Minecraft/MinecraftTen-VGORe.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

body, html {
    height: 50%;
    margin: 0;
    padding: 0;
}

.MC {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(0, 0, 0);
    min-height: 60vh;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    max-width: 1920px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 48px;
    row-gap: 48px;
}

.MC_Heading_1 {
    font-family: MinecraftTenv;
    font-size: 56px;
    font-weight: 400;
    color: #ffffff;
    height: 24px;
    letter-spacing: -0.36px;
    line-height: 24px;
    left: 570px;
    top: 7px;
    position: absolute;
}

a {
    color: rgb(108, 195, 73);
    position: relative;
    top: 60px;
    left: 600px;
    font-size: 16px;
}

a:hover {
    color: #ffffff;
}

.MC_Heading_2 img {
    border: 1px solid #ffffff;
    width: 211px;
    height: 211px;
    position: relative;
    top: 100px;
    left: 100px;
    margin: 15px;
    width: 20%;
    margin-right: 30px;
}

.MC_Heading_2 {
    background-color: rgb(0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.MC_CardE_content_blurb {
    color: rgb(255, 255, 255);
    position: relative;
    top: -50px;
}

.white-text {
    color: white;
    background-color: rgb(38,36,35);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title_k {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    position: relative;
    top: 70px;
    left: 50px;
    border-left: -100px solid rgb(38,36,35);
    margin-right: 10px;
}

.title_k {
    padding-left: 120px;
    left: -50px;
}

.title_m {
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    top: -20px;
    margin-right: 10px;
}

.title_m h2 {
    font-size: 24px;
}

.title_m p {
    justify-content: space-around;
    font-size: 14px;
    position: relative;
    top: 100px;
    padding: 10px;
    color: rgb(171, 160, 156);
    left: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.Mime {
    position: relative;
    top: -90px;
    left: -90px;
}

.Mime img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgb(38,36,35);
    top: 130px;
}

.Mime2 {
    position: relative;
    top: 10px;
    left: -300px;
    display: flex;
}

.Mime2 img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px;
    border: 1px solid rgb(38,36,35);
    top: 120px;
}

.Mime3 {
    position: absolute;
    display: flex;
    top: 40px;
    left: -100px;
}

.Mime3 img {
    display: inline-block;
    width: 20px;
    height: 20px; 
    border: 1px solid rgb(38,36,35);
    margin-right: 4px;
}

.Mime4 {
    position: relative;
    display: flex;
    top: -70px; 
}

.Mime4 img {
    display: inline-block;
    width: 20px;
    height: 20px; 
    border: 1px solid rgb(38,36,35);
    margin-right: 4px;
}

.MC_Heading_3 {
    font-family: MinecraftTenv;
    color: rgb(255, 242, 122);
    background-color: rgb(38,36,35);
    position: relative;
    top: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 25px;
    line-height: 1.8;
}

.white-text {
    background-color: rgb(38,36,35);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    top: -40px;
    font-size: 16px;
}

.explore {
    background-color: #FFD700;
    border: none;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5px;
    top: 40px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
    color: black;
    user-select: none;
}

.Mer {
    background-color: rgb(38,36,35);
    position: relative;
    top: 50px;
}

a.explore-button {
    background-color: #FFD700; 
    border: none;
    padding: 15px 40px; 
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; 
    color: #000; 
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -50px;
    left: 2px;
    transition: background-color 0.3s, transform 0.3s;
    user-select: none; 
}

a.explore-button:hover {
    background-color: #ffff00; 
}

a.explore-button:active {
    background-color: #FFB700; 
}

.arrow {
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-bottom: 7px solid transparent; 
    border-left: 20px solid #ffffff; 
    margin-left: 15px; 
    transition: border-left-color 0.3s;
}

a.explore-button:hover .arrow {
    border-left-color: #dbe700; 
}

.Mca {
    font-size: 12px;
    font-weight: 400;
    height: 50vh;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: left;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 100vw;
    background-position-x: 50%;
    background-position-y: 100%;
    background-color: rgb(38,36,35);
}

.Mer2 {
    position: relative;
    top: -200px;
    left: 450px;
    margin: 15px; 
}
.Mer2  img {
    width: 248px; 
    height: 139px; 
    font-size: 12px;
    margin-right: 40px;
    background-color: rgb(38,36,35);
    background-size: 248px 139px; 
    background-repeat: no-repeat; 
}

.flex-container {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px; 
    flex-direction: row;
    padding-right: 450px;
    position: relative;  
    top: -200px;
    left: 440px;
    background-color: rgb(38,36,35);
}
  
.content-block {
    flex: 1;
    text-align: center;
}
  
.content-block img {
    max-width: 50%;
    height: auto;
}

.arrow-contain {
    position: relative;
    top: -240px;
    left: 20px;
    width: 40px; 
    height: 40px; 
}

.arrow-container {
    position: relative;
    top: -280px;
    left: 107px;
    width: 40px; 
    height: 40px; 
}

.arrow-contain img,.arrow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wide-image {
  height: 178px;
}